/* @font-face{
    font-family: 'teste';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}


/* Colors variables */
:root {
    --header-color: #000;
    --body-color:rgb(31, 31, 37);
    --text-color-normal: #fff;
    --blue-color-1: #0998f7ee;
    --background-color: #fff;
}

/* Fonts variables */
:root {
    --h1-font-size: 39px;
    --h2-font-size: ;
    --h3-font-size: ;
    --h1-font-family: ;
    --normal-font-size: 14px;
    --fw-nomal: 400;
    --fw-bold: 700;
    --body-font: sans-serif;
}

    /* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--normal-font-size);
    font-weight: var(--fw-nomal) ;
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color-normal);
    margin: 100px 0 0;
    padding: 0;
    height: 100vh;
}

h1,h2,h3 {
    font-weight: var(--fw-bold);
    color: var(--blue-color);
}

p {
    margin: 3px 5px 0px;
    line-height: 22px;
}


ul {
    list-style: none;
}

li {
    list-style-type: none;
}

a { 
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.section {
    padding: 4.5rem 0 1rem;
}

/* LAYOUT */

.container {

    margin: 0 1.5rem;
    z-index: 1;
}

.grid {
    display: grid;
    gap: 1.5rem;
}


/* BUTTONS */

.botao {
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#ffbf00, #f2a50c);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    text-transform: uppercase;
    color:  #332200;
    font: 600 1.125rem/1.35 "Poppins", sans-serif;
    max-width: max-content;
    border: none;
    cursor: pointer;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao:hover {
    background: linear-gradient(#ffb60d, #e59317);
}
/* SHOW MENU */

.home-data {
    align-items: center;
    text-align: center;
}

.show-menu{
    top: 60px;
}

